/* Global Layout Set-up */
* {
	box-sizing: border-box;
}

header {
	text-align:center;
	line-height: 1.2em;
}

body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	background: lightblue;
	text-align: justify;
}

main {
	margin-left:2.5em;
	margin-right:2.5em;
}

footer {
	margin-left:2.5em;
	margin-right:2.5em;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

/* Link Style */

a {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:white;
}

/* Section styles */

.main-nav {
	width:100%;
	background:purple;
	position:fixed;
	min-height: 30px;
	text-align: center;
	padding: 10px;
}

.nav {
	display: flex;
	justify-content: space-around;
	font-weight: 900;
	list-style-type:none;
	padding:0;
	margin: 0 auto;
	font-size: 1.5em;
}

.nav .name {
	display:none;
}

.nav li {
	padding: 5px 10px 10px 10px;
}

.nav a {
	transition: all .5s;
	color:white;
}

.nav a:hover {
	color:black;
}


header .profile-pic {
	border-radius: 40%;
	border: solid 4px white;
	width:250px;
	height:230px;
	margin-top:80px;
}

header .profile-pic:hover {
	transform: scale(1.1) rotate(360deg);
	transition: all .5s;
}

header .wrong {
	margin:0 80px 0 0;
}

.contact-footer {
	margin-left:4.5em;
	margin-right:2.5em;
	margin-bottom: 2.5em;
	margin-top:-1em;
}

.title-photos {
	margin-top:80px;
}

.title-name {
	color:purple;
}

.title-description {
	color: black;
}

.section-tile {
	background-color:#dee2e5;
	padding:.6em 2.5em .8em 2.5em;
	margin: 30px;
	width:50%;
	border-radius: 1.5em;
}

.section-title {
	color:purple;
	text-decoration:underline;
}

.line-size {
	margin-bottom: 2em;
}

.tiles {
	display:flex;
}
