/* Global Layout Set-up */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

header {
	text-align:center;
	line-height: 1.2em;
}

body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	background: lightblue;
	text-align: justify;
}

main {
	margin-left:2.5em;
	margin-right:2.5em;
	display:flex;
	align-items: flex-start;
}

/* Link Style */

a {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:white;
}

/* Section styles */

.main-nav {
	width:100%;
	background:purple;
	position:fixed;
	min-height: 30px;
	text-align: center;
	padding: .5em;
}

.nav {
	display: flex;
	justify-content: space-around;
	font-weight: 900;
	list-style-type:none;
	padding:0;
	margin: 0 auto;
	font-size: 1.4em;
}

/* .nav li {
	padding: .3em 1em .3em 1em;
} */

.nav a {
	transition: all .5s;
	color:white;
}

.nav a:hover {
	color:black;
}

#name {
	margin-left: 0;
	padding-left: 0;
}

.social-list {
	list-style-type:none;
}

.social-media {
	display: flex;
}

.social-icon {
	height:4em;
	width:4em;
	opacity:0.8;
	transition: all .25s;
	margin-right: 2em;
}

header .profile-pic {
	border-radius: 40%;
	border: solid 4px white;
	width:15em;
	height:15em;
	margin-top:6em;
}

header .profile-pic:hover {
	transform: scale(1.1) rotate(360deg);
	transition: all .5s;
}

.contact-section {
	margin-left:4.5em;
	margin-right:2.5em;
	margin-bottom: 2.5em;
	margin-top:-1em;
}

.title-name {
	color:purple;
}

.title-description {
	color: black;
}

.section-tile {
	background-color:#dee2e5;
	padding:.6em 2.3em .8em 2.3em;
	margin: 1.7em;
	width:90%;
	border-radius: 1.5em;
}

.section-title {
	color:purple;
	text-decoration:underline;
}

.line-size {
	margin-bottom: 2em;
}

.projects {
	background-color: burlywood;
	padding: .1em 1.5em;
	margin-bottom: 2em;
	border-radius: 1em;
}

.list-description {
	padding-left: 1em;
}

.copyright {
	background-color: purple;
	color: white;
	padding: .5em 0;
	text-align: center;
	font-size: .9em;
}

.resume-nav-bottom {
	margin-top: 2.5em;
}

#work-experience-nav-bottom {
	margin-top: 5em;
}

#volunteer-experience-nav-bottom {
	margin-top: 5em;
}

@media screen and (max-width: 800px) {
	main {
		display: inline-block;
	}

	.title-description {
		line-height: 1.2em;
	}

	#volunteer-experience-nav-bottom {
		margin-top: 1.7em;
	}
}


